<template>
  <div>
    <b-row>
      <b-col>
        <h4>จัดการข้อมูลนิสิต</h4>
      </b-col>
      <b-col>
        <b-button variant="info" class="float-right" @click="addNewUser">
          Add New
        </b-button>
      </b-col>
    </b-row>
    <br />

    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="รหัสนิสิต"
          label-for="name-input"
          :invalid-feedback="invalidFeedbackstudentID"
          :valid-feedback="validFeedbackstudentID"
          :state="statestudentID"
        >
          <b-form-input
            id="name-input"
            v-model="form.studentId"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ชื่อนิสิต"
          label-for="name-input"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="statestudentName"
        >
          <b-form-input
            id="name-input"
            v-model="form.name"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="ที่อยู่" label-for="name-input">
          <b-form-input
            id="name-input"
            v-model="form.address"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="เบอร์โทรศัพท์" label-for="name-input">
          <b-form-input
            id="name-input"
            v-model="form.phone"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
      </template>
    </b-table>
    <div class="d-flex justify-content-center">
      <b-button pill variant="info">อัพโหลด</b-button>
      &nbsp;
      <b-button pill variant="outline-danger">ยกเลิก</b-button>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        studentId: ' ',
        name: ' ',
        address: ' ',
        phone: ' '
      },

      userList: [
        {
          id: 1,
          studentId: '60160138',
          name: 'Darawee Polpiya',
          address: '90/8 m.5 Najomtein Sattahip Chonburi 20250',
          phone: '0868250489'
        },
        {
          id: 2,
          studentId: '60160149',
          name: 'Onanong Chanwiset',
          address: '90/8 m.5 Najomtein Sattahip Chonburi 20250',
          phone: '0967977177'
        }
      ],
      lastId: 3,
      fields: [
        {
          key: 'id',
          label: 'ลำดับ',
          class: 'text-center'
        },
        {
          key: 'studentId',
          label: 'รหัสนิสิต',
          class: 'text-center'
        },
        {
          key: 'name',
          label: 'ชื่อนิสิต',
          class: 'text-center'
        },
        {
          key: 'address',
          label: 'ที่อยู่',
          class: 'text-center'
        },
        {
          key: 'phone',
          label: 'เบอร์โทรศัพท์',
          class: 'text-center'
        },
        {
          key: 'operation',
          label: 'แก้ไข',
          class: 'text-center'
        }
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit' + user)
      this.title = 'แก้ไข'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del' + user)
    },

    resetModal () {
      this.form = {
        id: -1,
        studentId: '',
        name: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Exit when the form isn't valid

      // Push the name to submitted names
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'จำเป็นต้องกรอกชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    statestudentID () {
      return this.form.studentId.length >= 8
    },
    invalidFeedbackstudentID () {
      if (this.form.studentId.length > 8) {
        return ''
      } else if (this.form.studentId.length > 0) {
        return 'รหัสนิสิตต้องมีขนาดอย่างน้อย 8 ตัวอักษร'
      } else {
        return 'จำเป็นต้องกรอกรหัสนิสิต'
      }
    },
    validFeedbackstudentID () {
      return this.statestudentID === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
